<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flex Grid</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <!-- SECTION -->
    <section id="section">
      <div class="container">
        <div class="flex-grid">
          <div class="card">
            <div class="flex-div jcs-s ai-c">
              <div class="profile-pic">
                <img src="../../assets/img/profile.jpg" alt="Profile Picture" />
              </div>
              <div class="card-content">
                <h3>James Adewara</h3>
                <p>
                  I am a fullstack mobile/web developer. I focus on building
                  scalable, efficient, robust and secured solutions that scales
                  based on business demands
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-content flex-center">
              <span class="list-highlighter"
                >Programming <br />& <br />Competitions</span
              >
            </div>
          </div>
          <div class="card">
            <div class="card-content flex-center">
              <span class="list-highlighter"
                >Solution Oriented Leader <br />& <br />Technologist</span
              >
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>